@import url('reset.css');
@import url('global.css');

.wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  background-color:grey;
}

.wrapper .left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 10px;
  left:0px;
  top:0px;
  z-index:1;

}

.wrapper .main-content {
  width: 100px;
  height: 100%;
  background-color: grey;
  display : flex;
  align-items: center;
  justify-content: center;
}

.wrapper .main-content .logo img {
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.pills ul {
  display : flex;
  flex-direction: row;
}

.navigator {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.navigator ul li {
  margin: 60px;
  
}

.navigator ul li-first-child {
  margin-top: 0px;
  
}

.navigator ul li-last-child {
  margin-bottom: 0px;
  
}

.navigator ul li a{
  color: white;
  border: solid 2px white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display:flex;
  background-color: black;
  align-items: center;
  justify-content: center;

}

.navigator::before{
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  z-index:0;
}

.navigator ul {
  z-index:1;
}

.navigator ul li a:hover,
navigator ul li a.active {
  color: var(--primary-color);
  background-color: white;
}

.navigator .navigator__icon {
  position: absolute;
  top: 20px;
}

